.imput_loading {
	border-style: solid;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
}
.imput_loading .input__img-preview {
	opacity: 0.3;
}
.imput_loading .progress {
	background: #E5E5E5;
	border-radius: 0;
	height: 4px;
}
.imput_loading .progress-bar {
	border-radius: 29px;
	background-color: var(--primary-color);
}
