.post-creator__container {
	display: flex;
	flex-direction: column;
	padding: 32px 14px 37px 20px;
}

@media (min-width: 768px) {
	.post-creator__container {
		padding-left: 50px;
	}
}
@media (min-width: 1200px) {
	.post-creator__container {
		padding-left: 186px;
	}
}
